* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  z-index: -1;
}
header {
  border: 2px solid black;
  background-color: #0e231c;
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

header h1 {
  color: white;
  margin-left: -540px;
  padding: 0;
}

.nav-container {
  background-color: #d6e9c4;
  border-radius: 15px;
  padding: 0 10px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  border-left: 1px solid black;
  justify-content: center;
  align-items: center;
}

nav ul li:first-child {
  border-left: none;
}

.comp {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.home,
.about,
.projects,
.contact {
  scroll-margin-top: 10vh;
}

.home {
  background: #aebaa1;
  height: 500px;
  width: 100%;
  position: absolute;
  top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.bnsn-logo {
  width: 3.8rem;
  border-radius: 100%;
  height: 3.8rem;
  margin-left: 3rem;
}

.profile-img {
  width: 26rem;
  height: 28rem;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 13px 8px 0 black;
  object-fit: cover;
}

.container {
  padding: 20px;
  margin-left: 50px;
}

.good {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}

.name {
  font-size: 3rem;
  color: black;
  font-weight: 700;
}

.about {
  margin-top: 10px;
  background: #aebaa1;
  width: 100%;
  position: absolute;
  top: 595px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

.profile-img2 {
  width: 50rem;
  height: 50rem;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0 10px 15px 0 black;
  object-fit: cover;
}

.me-info {
  font-size: 1rem;
  color: black;
  font-weight: 500;
}
.first-column {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.profile-img2 {
  width: 20em;
  height: 20rem;
}

.second-column {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.box4 {
  background: #d8e4c8;
  border: black 2px;
  width: 170px;
  border-radius: 15px;
  padding: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.me {
  font-size: medium;
  font-weight: 500;
  color: black;
}

.me-info {
  background: #d8e4c8;
  border: black 2px;
  border-radius: 15px;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.box2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.box3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  text-align: center;
}

.box5 {
  background: #d8e4c8;
  border: black 2px;
  width: 170px;
  border-radius: 15px;
  padding: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.box6 {
  background: #d8e4c8;
  border-radius: 15px;
  padding: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 40px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 1345px;
  background: #aebaa1;
  position: absolute;
  padding-bottom: 50px;
  text-align: center;
}

.apae {
  margin-top: 50px;
  margin-bottom: 30px;
}

.apae h1 {
  font-size: 30px;
  color: #000;
  background: #d8e4c8;
  padding: 10px;
  border-radius: 10px;
}

.sections-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  max-width: 1100px;
}

.project-section,
.expiriences-section {
  background-color: #d8e4c8;
  width: 100%;
  max-width: 320px;
  border-radius: 12px;
  padding: 15px 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0 !important;
}

.project-section h2 {
  margin-bottom: 20px;
}

.expiriences-section h2 {
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  color: #000;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.item {
  position: relative;
  width: 45%;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1.5px solid #000;
  padding-bottom: 1px;
  margin-bottom: 10px;
}

.left {
  left: 0;
  text-align: right;
  padding-right: 5px;
}

.right {
  left: 55%;
  text-align: left;
  padding-left: 5px;
  margin-top: 5px;
}

@media screen and (max-width: 800px) {
  .sections-container {
    flex-direction: column;
    align-items: center;
  }

  .projects {
    position: relative;
    top: 0;
    margin-top: 50px;
  }

  .project-section,
  .expiriences-section {
    max-width: 90%;
    height: auto;
    margin-bottom: 20px;
  }
}

.contacts {
  background-color: #aebaa1;
  padding: 100px 20px;
  text-align: center;
  position: absolute;
  top: 1900px;
  width: 100%;
}

.contact-title {
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #000;
}

.contact-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #d6e9c4;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 50px;
  padding: 20px;
  overflow: hidden;
}

.contact-card {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.border-right {
  border-right: 2px solid black;
}
.border-bottom {
  border-bottom: 2px solid black;
}

.icon {
  font-size: 50px;
  color: #000;
  width: 60px;
  text-align: center;
}

.contact-text {
  font-size: 18px;
  text-align: left;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-text strong {
  display: inline-block;
  width: 100px;
}

@media (max-width: 600px) {
  .contact-grid-container {
    grid-template-columns: 1fr;
    border-radius: 20px;
  }
  .border-right {
    border-right: none;
  }
  .contact-card:not(:last-child) {
    border-bottom: 2px solid black;
  }
}

.main-footer {
  background-color: #0e231c;
  top: 2410px;
  color: white;
  text-align: center;
  padding: 25px 0;
  border-top: 2px solid black;
  font-family: sans-serif;
  font-size: 14px;
  width: 100%;
  position: relative;
  clear: both;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 800px;
}
